:root {
  /* Dark theme (default) */
  --app-item-bg: #333333;
  --app-item-text: #ffffff;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light theme */
    --app-item-bg: #f9f9f9;
    --app-item-text: #212121;
    --app-item-hover-bg: #e0e0e0;
  }
}

h1 {
  text-align: center;
}

#app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
}

.app-item {
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  background-color: var(--app-item-bg);
  color: var(--app-item-text);
  padding: 16px;
}

.app-item footer {
  display: flex;
  justify-content: space-evenly;
}
